<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/payment/results">
      <div><label for="apr">APR</label>
      <input type="number" id="apr" name="apr" placeholder="E.g. 5.42"></div>
  
      <div><label for="years">Number of years</label>
      <input type="number" id="years" name="years" placeholder="How many years to repay"></div>
    
      <div><label for="principal">Principal</label>
      <input type="number" id="principal" name="principal" placeholder="How much principal?"></div>
      <div><button>Calculate monthly payment</button></div>
    </form>
</body>
</html>
